<div class="main-container">

  <img class="main-element-logo" src="../../assets/images/cake 1.png">

  <div class="main-element-welcome-text">
    <h1>
      Witaj na stronie z przepisami na słodkie keto ciasta!
    </h1>
    <h2>
      Odkryj zdrowe i pyszne desery, idealne dla osób stosujących dietę ketogeniczną. 
    </h2>
    <h3>
      gotowy na smakowe przygody bez zbędnego wyrzutu sumienia?
    </h3>
  </div>

  <button (click)="navigateTo()" class="main-element-welcome-button" mat-fab extended color="primary">
    Zobacz aktualne przepisy
  </button>
</div>