.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-element-logo {
  height: 250px;
  width: 250px;
  margin-top: 20px;
}

.main-element-welcome-text {
  display: flex;
  flex-direction: column;
  width: 660px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1, h2, h3 {
  font-family: Caveat;
  margin-bottom: 12px;
  color: rgb(50, 50, 50);
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 22px;
}

.main-element-welcome-button {
  font-size: 16px;
}